<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <br>
        <h3 class="offset-2">Edit your Listing :</h3>
        <div class="row">
            <div class="col-8 offset-2">
                <form action="/listing/<%=doc._id%>?_method=PUT" method="POST">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="title" value=<%=doc.title%> class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="description" id="" cols="10" rows="3" placeholder="description"
                            class="form-control"><%=doc.description%></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="image" value=<%=doc.image%> class="form-label">Image</label>
                        <input type="text" name="image" placeholder="image" class="form-control">
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" value=<%=doc.price%> class="form-label">Price</label>
                            <input type="number" name="price" value=<%=doc.price%> class="form-control">
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="Location" class="form-label">Location</label>
                            <input type="text" name="location" value=<%=doc.location%> class="form-control">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="Location" class="form-label">Country</label>
                        <input type="text" name="country" value=<%=doc.country%> class="form-control">
                    </div>

                    <button class="btn btn-info">Edit Now</button>
                    <br> <br>
                </form>
            </div>
        </div>
    </body>

    <% layout("/layouts/boilerplate.ejs") %>